.container
  .row
    .col-md-12.text-center
      %h1 Relax On Rails

  .row
    .col-md-12
      %h3= @team.name
      %table.table.table-striped
        %thead
          %th #
          %th Nickname
          %th Email
          %th First Name
          %th Last Name
          %th Timezone
        - @team.members.each_with_index do |user, index|
          %tr
            %td= index + 1
            %td= user.nickname
            %td= user.email
            %td= user.first_name
            %td= user.last_name
            %td= user.timezone
